Repository pollen8llc/comp-app--nfw5po, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @analytics-team, @api-team, @events-team, @member-team, @frontend-team, @devops-team, @qa-team, @db-team

.github/CODEOWNERS:

# Unless a later match takes precedence
* @platform-admins

# Analytics service ownership
/src/backend/analytics-service/ @analytics-team

# API Gateway ownership
/src/backend/api-gateway/ @api-team

# Event service ownership
/src/backend/event-service/ @events-team

# Member service ownership
/src/backend/member-service/ @member-team

# Frontend ownership
/src/web/ @frontend-team

# Infrastructure ownership
/infrastructure/ @devops-team

# Testing ownership
/src/test/ @qa-team

# Protocol buffer definitions
*.proto @api-team

# Schema definitions
*.schema.ts @api-team

# Type definitions
*.types.ts @api-team

# Database migrations and scripts
/src/backend/db/ @db-team

# Infrastructure as Code
*.tf @devops-team

# CI/CD and configuration files
*.yml @devops-team

# Kubernetes and OpenAPI specs
*.yaml @devops-team

Add public-samples/comp-app--nfw5po/src/test/integration/data/redis-integration.test.ts
  src/test/integration/data/redis-integration.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/events/eventbrite-integration.test.ts
  src/test/integration/events/eventbrite-integration.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/events/luma-integration.test.ts
  src/test/integration/events/luma-integration.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/events/partiful-integration.test.ts
  src/test/integration/events/partiful-integration.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/performance/artillery/config.yml
  src/test/performance/artillery/config.yml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/test/performance/artillery/scenarios/api-load.yml
  src/test/performance/artillery/scenarios/api-load.yml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/test/performance/artillery/scenarios/websocket-load.yml
  src/test/performance/artillery/scenarios/websocket-load.yml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/test/performance/k6/config.js
  src/test/performance/k6/config.js
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/performance/k6/scenarios/entity-resolution.js
  src/test/performance/k6/scenarios/entity-resolution.js
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/performance/k6/scenarios/event-import.js
  src/test/performance/k6/scenarios/event-import.js
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/performance/k6/scenarios/graph-queries.js
  src/test/performance/k6/scenarios/graph-queries.js
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/performance/k6/scenarios/tda-computation.js
  src/test/performance/k6/scenarios/tda-computation.js
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/setup/global-setup.ts
  src/test/setup/global-setup.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/setup/mock-services.ts
  src/test/setup/mock-services.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/setup/test-environment.ts
  src/test/setup/test-environment.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/types/cypress.d.ts
  src/test/types/cypress.d.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/types/test-utils.d.ts
  src/test/types/test-utils.d.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/api-client.ts
  src/test/utils/api-client.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/auth-helpers.ts
  src/test/utils/auth-helpers.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/graph-generators.ts
  src/test/utils/graph-generators.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/mock-data.ts
  src/test/utils/mock-data.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/performance-metrics.ts
  src/test/utils/performance-metrics.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/test-database.ts
  src/test/utils/test-database.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/pnpm-lock.yaml
  src/web/pnpm-lock.yaml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/comp-app--nfw5po/src/web/public/assets/icons/add.svg
  src/web/public/assets/icons/add.svg
Owners: @frontend-team
