Repository pollen8llc/comp-app--nfw5po, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @analytics-team, @api-team, @events-team, @member-team, @frontend-team, @devops-team, @qa-team, @db-team

Add public-samples/comp-app--nfw5po/src/backend/api-gateway/test/integration/routes.test.ts
  src/backend/api-gateway/test/integration/routes.test.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/api-gateway/test/unit/auth.test.ts
  src/backend/api-gateway/test/unit/auth.test.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/db/migrations/neo4j/001_initial_schema.cypher
  src/backend/db/migrations/neo4j/001_initial_schema.cypher
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/db/migrations/neo4j/002_indexes.cypher
  src/backend/db/migrations/neo4j/002_indexes.cypher
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/db/migrations/neo4j/003_constraints.cypher
  src/backend/db/migrations/neo4j/003_constraints.cypher
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/db/scripts/backup.sh
  src/backend/db/scripts/backup.sh
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/db/scripts/restore.sh
  src/backend/db/scripts/restore.sh
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/db/scripts/seed.ts
  src/backend/db/scripts/seed.ts
Owners: @db-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/Dockerfile
  src/backend/event-service/Dockerfile
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/package.json
  src/backend/event-service/package.json
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/app.ts
  src/backend/event-service/src/app.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/config/index.ts
  src/backend/event-service/src/config/index.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/config/neo4j.ts
  src/backend/event-service/src/config/neo4j.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/models/event-metadata.model.ts
  src/backend/event-service/src/models/event-metadata.model.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/models/event.model.ts
  src/backend/event-service/src/models/event.model.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/services/event.service.ts
  src/backend/event-service/src/services/event.service.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/services/eventbrite.service.ts
  src/backend/event-service/src/services/eventbrite.service.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/services/luma.service.ts
  src/backend/event-service/src/services/luma.service.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/services/partiful.service.ts
  src/backend/event-service/src/services/partiful.service.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/utils/data-import.ts
  src/backend/event-service/src/utils/data-import.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/src/utils/validation.ts
  src/backend/event-service/src/utils/validation.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/test/integration/import.test.ts
  src/backend/event-service/test/integration/import.test.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/event-service/test/unit/event.test.ts
  src/backend/event-service/test/unit/event.test.ts
Owners: @events-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/Dockerfile
  src/backend/member-service/Dockerfile
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/package.json
  src/backend/member-service/package.json
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/app.ts
  src/backend/member-service/src/app.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/config/index.ts
  src/backend/member-service/src/config/index.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/config/neo4j.ts
  src/backend/member-service/src/config/neo4j.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/models/member.model.ts
  src/backend/member-service/src/models/member.model.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/models/social-profile.model.ts
  src/backend/member-service/src/models/social-profile.model.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/services/entity-resolution.service.ts
  src/backend/member-service/src/services/entity-resolution.service.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/services/member.service.ts
  src/backend/member-service/src/services/member.service.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/utils/graph-queries.ts
  src/backend/member-service/src/utils/graph-queries.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/src/utils/validation.ts
  src/backend/member-service/src/utils/validation.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/test/integration/graph.test.ts
  src/backend/member-service/test/integration/graph.test.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/member-service/test/unit/member.test.ts
  src/backend/member-service/test/unit/member.test.ts
Owners: @member-team

Add public-samples/comp-app--nfw5po/src/backend/openapi/analytics-service.yaml
  src/backend/openapi/analytics-service.yaml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/backend/openapi/event-service.yaml
  src/backend/openapi/event-service.yaml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/backend/openapi/member-service.yaml
  src/backend/openapi/member-service.yaml
Owners: @devops-team

Add public-samples/comp-app--nfw5po/src/backend/shared/proto/analytics.proto
  src/backend/shared/proto/analytics.proto
Owners: @api-team

.github/CODEOWNERS:

# Unless a later match takes precedence
* @platform-admins

# Analytics service ownership
/src/backend/analytics-service/ @analytics-team

# API Gateway ownership
/src/backend/api-gateway/ @api-team

# Event service ownership
/src/backend/event-service/ @events-team

# Member service ownership
/src/backend/member-service/ @member-team

# Frontend ownership
/src/web/ @frontend-team

# Infrastructure ownership
/infrastructure/ @devops-team

# Testing ownership
/src/test/ @qa-team

# Protocol buffer definitions
*.proto @api-team

# Schema definitions
*.schema.ts @api-team

# Type definitions
*.types.ts @api-team

# Database migrations and scripts
/src/backend/db/ @db-team

# Infrastructure as Code
*.tf @devops-team

# CI/CD and configuration files
*.yml @devops-team

# Kubernetes and OpenAPI specs
*.yaml @devops-team
