Repository pollen8llc/comp-app--nfw5po, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @analytics-team, @api-team, @events-team, @member-team, @frontend-team, @devops-team, @qa-team, @db-team

Add public-samples/comp-app--nfw5po/src/backend/shared/proto/event.proto
  src/backend/shared/proto/event.proto
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/proto/member.proto
  src/backend/shared/proto/member.proto
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/schemas/analytics.schema.ts
  src/backend/shared/schemas/analytics.schema.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/schemas/event.schema.ts
  src/backend/shared/schemas/event.schema.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/schemas/member.schema.ts
  src/backend/shared/schemas/member.schema.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/types/analytics.types.ts
  src/backend/shared/types/analytics.types.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/types/event.types.ts
  src/backend/shared/types/event.types.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/types/member.types.ts
  src/backend/shared/types/member.types.ts
Owners: @api-team

Add public-samples/comp-app--nfw5po/src/backend/shared/utils/error-codes.ts
  src/backend/shared/utils/error-codes.ts
Owners: @platform-admins

Add public-samples/comp-app--nfw5po/src/backend/shared/utils/metrics.ts
  src/backend/shared/utils/metrics.ts
Owners: @platform-admins

Add public-samples/comp-app--nfw5po/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @platform-admins

Add public-samples/comp-app--nfw5po/src/test/.env.test
  src/test/.env.test
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/README.md
  src/test/README.md
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress.config.ts
  src/test/cypress.config.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/package.json
  src/test/package.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/admin/analytics.cy.ts
  src/test/cypress/e2e/admin/analytics.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/admin/dashboard.cy.ts
  src/test/cypress/e2e/admin/dashboard.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/admin/import-tools.cy.ts
  src/test/cypress/e2e/admin/import-tools.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/admin/knowledge-graph.cy.ts
  src/test/cypress/e2e/admin/knowledge-graph.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/admin/member-management.cy.ts
  src/test/cypress/e2e/admin/member-management.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/auth/login.cy.ts
  src/test/cypress/e2e/auth/login.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/auth/permissions.cy.ts
  src/test/cypress/e2e/auth/permissions.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/auth/social-login.cy.ts
  src/test/cypress/e2e/auth/social-login.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/member/event-integration.cy.ts
  src/test/cypress/e2e/member/event-integration.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/member/network-view.cy.ts
  src/test/cypress/e2e/member/network-view.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/e2e/member/profile.cy.ts
  src/test/cypress/e2e/member/profile.cy.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/fixtures/events.json
  src/test/cypress/fixtures/events.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/fixtures/graph-data.json
  src/test/cypress/fixtures/graph-data.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/fixtures/members.json
  src/test/cypress/fixtures/members.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/fixtures/tda-results.json
  src/test/cypress/fixtures/tda-results.json
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/support/commands.ts
  src/test/cypress/support/commands.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/cypress/support/e2e.ts
  src/test/cypress/support/e2e.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/api/analytics-service.test.ts
  src/test/integration/api/analytics-service.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/api/event-service.test.ts
  src/test/integration/api/event-service.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/api/graph-queries.test.ts
  src/test/integration/api/graph-queries.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/api/member-service.test.ts
  src/test/integration/api/member-service.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/auth/clerk-integration.test.ts
  src/test/integration/auth/clerk-integration.test.ts
Owners: @qa-team

Add public-samples/comp-app--nfw5po/src/test/integration/data/neo4j-integration.test.ts
  src/test/integration/data/neo4j-integration.test.ts
Owners: @qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence
* @platform-admins

# Analytics service ownership
/src/backend/analytics-service/ @analytics-team

# API Gateway ownership
/src/backend/api-gateway/ @api-team

# Event service ownership
/src/backend/event-service/ @events-team

# Member service ownership
/src/backend/member-service/ @member-team

# Frontend ownership
/src/web/ @frontend-team

# Infrastructure ownership
/infrastructure/ @devops-team

# Testing ownership
/src/test/ @qa-team

# Protocol buffer definitions
*.proto @api-team

# Schema definitions
*.schema.ts @api-team

# Type definitions
*.types.ts @api-team

# Database migrations and scripts
/src/backend/db/ @db-team

# Infrastructure as Code
*.tf @devops-team

# CI/CD and configuration files
*.yml @devops-team

# Kubernetes and OpenAPI specs
*.yaml @devops-team
